<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/style.css">
<title>ログイン</title>
</head>
<body>
	<header class="header">
			<h1 class="h1"><a class="heade-contents-a" href="/PhysicalDevelopment/"><img class="header_logo" src="/PhysicalDevelopment/resouces/photo/身体開発.JPG"></a></h1>
		<div class="header-nav-links">
			<p class="nav-link "><a href="/PhysicalDevelopment/inputNutritionRegister" class="">食事登録</a></p>
			<p class="nav-link"><a href="/PhysicalDevelopment/inputTargetNutrition" class="">目標設定</a></p>
			<p class="nav-link"><a href="/PhysicalDevelopment/" class="">1カ月の評価</a></p>
			<p class="nav-link nomal-font"><a href="/PhysicalDevelopment/auth/logout" class="nav-link-text-normal">ログアウト</a></p>
		</div>
	</header>
	<div id="main-content-wrap">
		<div class="main-content">
		<h2 class="page-title">目標設定確認</h2>
			<form class="student-register-form" action="/PhysicalDevelopment/confirmTargetNutrition" method="post">
				<table class="student-list-table">
					<tr>
						<td class="student-input-tite input-name">エネルギー</td>
						<td><p>${targetNutrition.energyTargetNutrientAmount.nutrientAmount.nutrientAmount}</p></td>
					</tr>
					<tr>
						<td class="student-input-tite input-name">たんぱく質</td>
						<td><p>${targetNutrition.proteinTargetNutrientAmount.nutrientAmount.nutrientAmount}</p></td>
					</tr>
					<tr>
						<td class="student-input-tite input-name">脂質</td>
						<td><p>${targetNutrition.lipidTargetNutrientAmount.nutrientAmount.nutrientAmount}</p></td>
					</tr>
					<tr>
						<td class="student-input-tite input-name">炭水化物</td>
						<td><p>${targetNutrition.carbohydrateTargetNutrientAmount.nutrientAmount.nutrientAmount}</p></td>
					</tr>
					<tr>
						<td><button>戻る</button></td>
						<td><input type="submit" value="設定" class="student-register-button"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>
