<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script language="javascript" type="text/javascript" src="/PhysicalDevelopment/resouces/jquery/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="/PhysicalDevelopment/resouces/jquery/plugins/jqplot.barRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/PhysicalDevelopment/resouces/jquery/plugins/jqplot.categoryAxisRenderer.js"></script>
<link rel="stylesheet" type="text/css" href="/PhysicalDevelopment/resouces/jquery/jquery.jqplot.min.css" />
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/style.css">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1><a href="/PhysicalDevelopment/"><img class="header_logo" src="/PhysicalDevelopment/resouces/photo/身体開発.JPG"></a></h1>
		<p class="nav-link"><a href="/PhysicalDevelopment/inputNutritionRegister" class="nav-link-text">食事登録</a></p>
		<p class="nav-link"><a href="/PhysicalDevelopment/inputTargetNutrition" class="nav-link-text">目標設定</a></p>
		<p class="nav-link"><a href="/PhysicalDevelopment/" class="nav-link-text">1カ月の評価</a></p>
		<p class="nav-link"><a href="/PhysicalDevelopment/auth/logout" class="nav-link-text">ログアウト</a></p>
	</header>


<script>
var energy_target,protein_target,lipid_target,carbohydrate_target,energy_today,protein_today,lipid_today,carbohydrate_today,energy_remaining,protein_remaining,lipid_remaining,carbohydrate_remaining,target;
energy_target = ${dailyNutrition.targetNutrition.energyTargetNutrientAmount.nutrientAmount.nutrientAmount};
protein_target = ${dailyNutrition.targetNutrition.proteinTargetNutrientAmount.nutrientAmount.nutrientAmount};
lipid_target = ${dailyNutrition.targetNutrition.lipidTargetNutrientAmount.nutrientAmount.nutrientAmount};
carbohydrate_target = ${dailyNutrition.targetNutrition.carbohydrateTargetNutrientAmount.nutrientAmount.nutrientAmount};

energy_today = ${dailyNutrition.totalNutrientAmountPerDay.energyNutrientAmount.nutrientAmount};
protein_today = ${dailyNutrition.totalNutrientAmountPerDay.proteinNutrientAmount.nutrientAmount};
lipid_today = ${dailyNutrition.totalNutrientAmountPerDay.lipidNutrientAmount.nutrientAmount};
carbohydrate_today = ${dailyNutrition.totalNutrientAmountPerDay.carbohydrateNutrientAmount.nutrientAmount};

energy_remaining = energy_target - energy_today;
protein_remaining = protein_target - protein_today;
lipid_remaining = lipid_target - lipid_today;
carbohydrate_remaining = carbohydrate_target - carbohydrate_today;

</script>

	<div id="main-content-wrap">
		<div class="main-content">
		<h2 class="page-title">${yearMonthDay}の摂取栄養素</h2>
		<p>本日の点数: ${evaluation.score.score}点</p>
				<table class="student-list-table">
					<tr>
						<td class="student-input-tite input-name">目標</td>
						<td>エネルギー: <span id="energy_target"></span>kcal</td>
						<td>たんぱく質: <span id="protein_target"></span>g</td>
						<td>脂質: <span id="lipid_target"></span>g</td>
						<td>炭水化物: <span id="carbohydrate_target"></span>g</td>
					</tr>
<script>
	var span = document.getElementById('energy_target');
	span.innerHTML = '' + energy_target + '';
	span = document.getElementById('protein_target');
	span.innerHTML = '' + protein_target + '';
	span = document.getElementById('lipid_target');
	span.innerHTML = '' + lipid_target + '';
	span = document.getElementById('carbohydrate_target');
	span.innerHTML = '' + carbohydrate_target + '';
</script>

					<tr>
						<td class="student-input-tite input-name">本日</td>
						<td>エネルギー: <span id="energy_today"></span>kcal</td>
						<td>たんぱく質: <span id="protein_today"></span>g</td>
						<td>脂質: <span id="lipid_today"></span>g</td>
						<td>炭水化物: <span id="carbohydrate_today"></span>g</td>
					</tr>

<script>
	var span = document.getElementById('energy_today');
	span.innerHTML = '' + energy_today + '';
	span = document.getElementById('protein_today');
	span.innerHTML = '' + protein_today + '';
	span = document.getElementById('lipid_today');
	span.innerHTML = '' + lipid_today + '';
	span = document.getElementById('carbohydrate_today');
	span.innerHTML = '' + carbohydrate_today + '';
</script>

					<tr>
						<td class="student-input-tite input-name">残り</td>
						<td>エネルギー: <span id="energy_remaining"></span>kcal</td>
						<td>たんぱく質: <span id="protein_remaining"></span>g</td>
						<td>脂質: <span id="lipid_remaining"></span>g</td>
						<td>炭水化物: <span id="carbohydrate_remaining"></span>g</td>
					</tr>
				</table>
		</div>
	</div>
<script>
	var span = document.getElementById('energy_remaining');
	span.innerHTML = '' + energy_remaining + '';
	span = document.getElementById('protein_remaining');
	span.innerHTML = '' + protein_remaining + '';
	span = document.getElementById('lipid_remaining');
	span.innerHTML = '' + lipid_remaining + '';
	span = document.getElementById('carbohydrate_remaining');
	span.innerHTML = '' + carbohydrate_remaining + '';
</script>

<div id="jqPlot-sample" style="height: 300px; width: 300px;"></div>

<script>
energy_percent = energy_today / energy_target * 100;
protein_percent =  protein_today / protein_target * 100;
lipid_percent = lipid_today / lipid_target * 100;
carbohydrate_percent = carbohydrate_today / carbohydrate_target * 100;
</script>

<script>
jQuery( function() {
    jQuery . jqplot(
        'jqPlot-sample',
        [
            [ [ carbohydrate_percent, '炭水化物' ], [ lipid_percent, '脂質' ], [ protein_percent, 'たんぱく質' ], [ energy_percent, 'エネルギー' ] ]
        ],
        {
            seriesDefaults: {
                renderer: jQuery . jqplot . BarRenderer,
                rendererOptions: {
                    barDirection: 'horizontal'
                }
            },
            axes: {
                yaxis: {
                    renderer: jQuery . jqplot . CategoryAxisRenderer,
                }
            }
        }
    );
} );
</script>

</body>
</html>
