<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script language="javascript" type="text/javascript" src="/PhysicalDevelopment/resouces/jquery/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="/PhysicalDevelopment/resouces/jquery/plugins/jqplot.barRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/PhysicalDevelopment/resouces/jquery/plugins/jqplot.categoryAxisRenderer.js"></script>
<link rel="stylesheet" type="text/css" href="/PhysicalDevelopment/resouces/jquery/jquery.jqplot.min.css" />
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/style.css">
<title>ログイン</title>
</head>
<body>
	<header class="header">
			<h1 class="h1"><a class="heade-contents-a" href="/PhysicalDevelopment/"><img class="header_logo" src="/PhysicalDevelopment/resouces/photo/身体開発.JPG"></a></h1>
		<div class="header-nav-links">
			<p class="nav-link "><a href="/PhysicalDevelopment/inputNutritionRegister" class="">食事登録</a></p>
			<p class="nav-link"><a href="/PhysicalDevelopment/inputTargetNutrition" class="">目標設定</a></p>
			<p class="nav-link"><a href="/PhysicalDevelopment/" class="">1カ月の評価</a></p>
			<p class="nav-link nomal-font"><a href="/PhysicalDevelopment/auth/logout" class="nav-link-text-normal">ログアウト</a></p>
		</div>
	</header>


<script>
var energy_target,protein_target,lipid_target,carbohydrate_target,energy_today,protein_today,lipid_today,carbohydrate_today,energy_remaining,protein_remaining,lipid_remaining,carbohydrate_remaining,target;
energy_target = ${dailyNutrition.targetNutrition.energyTargetNutrientAmount.nutrientAmount.nutrientAmount};
protein_target = ${dailyNutrition.targetNutrition.proteinTargetNutrientAmount.nutrientAmount.nutrientAmount};
lipid_target = ${dailyNutrition.targetNutrition.lipidTargetNutrientAmount.nutrientAmount.nutrientAmount};
carbohydrate_target = ${dailyNutrition.targetNutrition.carbohydrateTargetNutrientAmount.nutrientAmount.nutrientAmount};

energy_today = ${dailyNutrition.totalNutrientAmountPerDay.energyNutrientAmount.nutrientAmount};
protein_today = ${dailyNutrition.totalNutrientAmountPerDay.proteinNutrientAmount.nutrientAmount};
lipid_today = ${dailyNutrition.totalNutrientAmountPerDay.lipidNutrientAmount.nutrientAmount};
carbohydrate_today = ${dailyNutrition.totalNutrientAmountPerDay.carbohydrateNutrientAmount.nutrientAmount};

energy_remaining = energy_target - energy_today;
protein_remaining = protein_target - protein_today;
lipid_remaining = lipid_target - lipid_today;
carbohydrate_remaining = carbohydrate_target - carbohydrate_today;
</script>

	<div class="main-content-wrap">
		<div class="main-content">
		<div class="top-layer">
			<h2 class="page-title">${yearMonthDay}の摂取栄養素</h2>
			<div class="daily-links">
				<p class="daily-nutrition-link"><a class="" href="/PhysicalDevelopment/">食事一覧</a></p>
				<p class="daily-nutrition-link"><a class="" href="/PhysicalDevelopment/inputTargetNutrition">目標設定</a></p>
				<p class="daily-nutrition-link"><a class="" href="/PhysicalDevelopment/">1ヵ月の評価</a></p>
			</div>
		</div>
		<div class="second-layer">
		<p>本日の点数: ${evaluation.score.score}点</p>
				<table class="student-list-table">
					<tr>
						<td class="student-input-tite input-name">目標</td>
						<td>エネルギー: <span id="energy_target"></span>kcal</td>
						<td>たんぱく質: <span id="protein_target"></span>g</td>
						<td>脂質: <span id="lipid_target"></span>g</td>
						<td>炭水化物: <span id="carbohydrate_target"></span>g</td>
					</tr>
					<tr>
						<td class="student-input-tite input-name">本日</td>
						<td>エネルギー: <span id="energy_today"></span>kcal</td>
						<td>たんぱく質: <span id="protein_today"></span>g</td>
						<td>脂質: <span id="lipid_today"></span>g</td>
						<td>炭水化物: <span id="carbohydrate_today"></span>g</td>
					</tr>
					<tr>
						<td class="student-input-tite input-name">残り</td>
						<td>エネルギー: <span id="energy_remaining"></span>kcal</td>
						<td>たんぱく質: <span id="protein_remaining"></span>g</td>
						<td>脂質: <span id="lipid_remaining"></span>g</td>
						<td>炭水化物: <span id="carbohydrate_remaining"></span>g</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

<script type="text/javascript" language="javascript">
	function onButtonClick() {
		check1 = document.form1.Checkbox1.checked;
		check2 = document.form1.Checkbox2.checked;

		target = document.getElementById("output");
		if(check1 == true) {
			target.innerHTML = "チェック項目1がチェックされています。<br />";
		} else {
			target.innerHTML = "チェック項目1がチェックされていません。<br />";
		}
		if(check2 == true) {
			target.innerHTML += "チェック項目2がチェックされています。<br />";
		} else {
			target.innerHTML += "チェック項目2がチェックされていません。<br />";
		}
</script>


	<form name="form1" action="">
		<input id="Checkbox1" type="checkbox" /><label for="Checkbox1">チェック項目</label><br />
		<input id="Checkbox2" type="checkbox" /><label for="Checkbox2">チェック項目</label><br />
		<input type="button" value="Exec" onclick="onButtonClick();" />
	</form>

	<div id="output"></div>


<script type="text/javascript" src="/PhysicalDevelopment/resouces/javascript/dailynutrition/table_mapping.js">
</script>

<div id="jqPlot-sample" style="height: 600px; width: 1200px;"></div>

<script>
energy_percent = energy_today / energy_target * 100;
protein_percent =  protein_today / protein_target * 100;
lipid_percent = lipid_today / lipid_target * 100;
carbohydrate_percent = carbohydrate_today / carbohydrate_target * 100;
</script>

<script>
jQuery( function() {
    jQuery . jqplot(
        'jqPlot-sample',
        [
            [ [ carbohydrate_percent, '炭水化物' ], [ lipid_percent, '脂質' ], [ protein_percent, 'たんぱく質' ], [ energy_percent, 'エネルギー' ] ]
        ],
        {
            seriesDefaults: {
                renderer: jQuery . jqplot . BarRenderer,
                rendererOptions: {
                    barDirection: 'horizontal'
                }
            },
            axes: {
                yaxis: {
                    renderer: jQuery . jqplot . CategoryAxisRenderer,
                }
            }
        }
    );
} );
</script>

<div id="my_bar_chart" style="height: 300px; width: 600px;"></div>

<script>
var myBarChart = new Chart(ctx, {
	type: 'bar';
	data: data,
	options: options
});

var div = document.getElementById('my_bar_chart');
div.innerHTML = myBarChart ';

</script>
</body>
</html>
