<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/style.css">
<title>会員登録確認</title>
</head>
<body>
	<header>
		<h1><a href="/PhysicalDevelopment/"><img class="header_logo" src="/PhysicalDevelopment/resouces/photo/身体開発.JPG"></a></h1>
		<p class="nav-link"><a href="/PhysicalDevelopment/inputNutritionRegister" class="nav-link-text">食事登録</a></p>
		<p class="nav-link"><a href="/PhysicalDevelopment/inputTargetNutrition" class="nav-link-text">目標設定</a></p>
		<p class="nav-link"><a href="/PhysicalDevelopment/" class="nav-link-text">1カ月の評価</a></p>
		<p class="nav-link"><a href="/PhysicalDevelopment/auth/logout" class="nav-link-text">ログアウト</a></p>
	</header>
	<div id="wrapper">
		<h3>会員登録確認</h3>
			<table>
				<tr>
		          <td>性別</td>
		          <td>${account.sex.typeName}</td>
		        </tr>
		        <tr>
		          <td>生年月日</td>
		          <td>${account.birthday.getBirthdayString()}</td>
		        </tr>
				<tr>
					<td>ID</td>
					<td>${account.authentication.loginId.loginId}</td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td>${account.authentication.password.password}</td>
				</tr>
			</table>
			<a href="http://localhost:8080/PhysicalDevelopment/checkedMemberRegister">確認</a>
	</div>
</body>
</html>