<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!-- <link rel="stylesheet" href="http://localhost:8080/PhysicalDevelopment/static/css/style.css"/> -->
<title>ログイン</title>
</head>
<body>
	<div id="main-content-wrap">
		<div class="main-content">
		<h2 class="page-title">食事登録</h2>
		<form class="student-register-form" action="/PhysicalDevelopment/checkNutritionRegister" method="post">
<script>

//今日の日付データを変数に格納
var today=new Date();

//年・月・日・曜日を取得する
var year = today.getFullYear();
var month = today.getMonth()+1;
var day = today.getDate();
document.write(year+"年"+month+"月"+day+"日 ");
document.write("<input type=\"hidden\" name=\"yearMonthDay.year\" value=" + year + ">");
document.write("<input type=\"hidden\" name=\"yearMonthDay.month\" value=" + month + ">");
document.write("<input type=\"hidden\" name=\"yearMonthDay.day\" value=" + day + ">");

</script>

		<p>${orderOfMeals}食目</p>
		<input type="hidden" name="strOrderOfMeals" value="${orderOfMeals}" />

		<input type="radio" name="inputType" value="AUTO" />自動入力
		<input type="radio" name="inputType" value="MANUAL" checked/>手動入力
			<table class="student-list-table">
				<tr>
					<td class="student-input-title input-name">食事名</td>
					<td><input type="text" name="mealName.mealName" class="student-input-name"></td>
				</tr>
				<tr>
					<td class="student-input-tite input-name">エネルギー</td>
					<td><input type="text" name="oneMealOfNutrients.energyNutrientAmount.nutrientAmount" class="studnet-input-name"></td>
				</tr>
				<tr>
					<td class="student-input-tite input-name">たんぱく質</td>
					<td><input type="text" name="oneMealOfNutrients.proteinNutrientAmount.nutrientAmount" class="studnet-input-name"></td>
				</tr>
				<tr>
					<td class="student-input-tite input-name">脂質</td>
					<td><input type="text" name="oneMealOfNutrients.lipidNutrientAmount.nutrientAmount" class="studnet-input-name"></td>
				</tr>
				<tr>
					<td class="student-input-tite input-name">炭水化物</td>
					<td><input type="text" name="oneMealOfNutrients.carbohydrateNutrientAmount.nutrientAmount" class="studnet-input-name"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="登録" class="student-register-button"></td>
				</tr>
			</table>
		</form>
		</div>
	</div>
</body>
</html>
