<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/style.css">
<title>Welcome</title>
</head>
<body>
	<header class="header">
			<h1 class="h1"><a class="heade-contents-a" href="/PhysicalDevelopment/"><img class="header_logo" src="/PhysicalDevelopment/resouces/photo/身体開発.JPG"></a></h1>
		<div class="header-nav-links">
			<p class="nav-link "><a href="/PhysicalDevelopment/inputNutritionRegister" class="">食事登録</a></p>
			<p class="nav-link"><a href="/PhysicalDevelopment/inputTargetNutrition" class="">目標設定</a></p>
			<p class="nav-link"><a href="/PhysicalDevelopment/" class="">1カ月の評価</a></p>
			<p class="nav-link nomal-font"><a href="/PhysicalDevelopment/auth/logout" class="nav-link-text-normal">ログアウト</a></p>
		</div>
	</header>
	<h2>${message}</h2>
	<form action="/PhysicalDevelopment/login" method="get">
		<input type="submit" value="ログイン" class="student-register-button">
	</form>

</body>
</html>
